*~

/dart/*

/vanguard/data/*

# https://raw.githubusercontent.com/github/gitignore/64ca10514b6a09781b3cda3af9ccdbac28728fd3/Dart.gitignore
# Don’t commit the following directories created by pub.
.buildlog
.pub/
build/
packages

# Or the files created by dart2js.
*.dart.js
*.js_
*.js.deps
*.js.map


# https://raw.githubusercontent.com/github/gitignore/12d95d1ff8094a0a35741cfc3f6a383b43fd871e/Global/DartEditor.gitignore
.project 
.buildlog
